#time{
    float: right;
}

header{
    font-size: clamp(0.7rem, calc(1vw + 0.3rem), 1.1rem );
}


.quizBoard{
    font-size: clamp(0.8rem, calc(1vw + 0.5rem), 1.3rem);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 64rem;
    min-height: 38rem;
    margin-inline: auto;
    border: 1px solid black;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 0.3rem;
    margin-block: 3rem;
    background-color: rgb(240, 240, 240);
    
}
main{
    margin-top: 5rem;
    margin-left: 13.2rem;
    margin-right: 5rem;
}
.instruction{
    text-align: center;
}
button, .button, input[type="submit"]{
    font-size: 1.5rem;
    background-color: rgb(138, 43, 227);
    color: #fff;
    border-radius: 0.3rem;
    padding-block: 0.3rem;
    padding-inline: 0.8rem;
    border: none;
    box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(138, 43, 227, 0.5);
}
button:hover, .button:hover, input[type="submit"]:hover{
    background-color: rgb(166, 43, 43, 0.8);
    box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(166, 43, 43, 0.5);
    cursor: pointer;
    color:#fff;
}
.button{
    font-weight: normal;
    min-width: 8em;
}

.button + .button{
    margin-top: 0.5em;
}
.optionsWrapper{/* div wrapping options */
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.question{
    font-size: 1.69em;
    font-weight: bold;
}
.result {
    font-size: 1.2em;
    border-top: 1px solid black;
    padding-top: 0.5rem;
    font-style: italic;
    opacity: 0.5;
    margin-block: 2em;
}

.tally{
    font-size: 1.2em;
}
.tally input[type = "text"]{
    font-size: 1.4em;
    margin-inline: 0.5em;;
}
.tally input[type = "text"]:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.tally h1{
    font-size: 1.5em;
}
.tally div{
    display: flex;
    align-items: center;
}